[submodule "bottomsidecode/lib/TLC5940"]
	path = bottomsidecode/lib/TLC5940
	url = https://github.com/mcous/TLC5940.git
[submodule "lib/arduino"]
	path = lib/arduino
	url = https://github.com/arduino/Arduino.git
